.navbar{
    background-color: #1E5C93;
}

#dropdown-basic{
    background-color: #1E5C93;
    border: 1px solid #1E5C93;
}

.dropdown-item{
    background-color: #1E5C93;
}

.shadow-effect {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.shadow-effect:hover {
    box-shadow: 30px 30px 30px linear-gradient(123deg, #fa6f00, #e433ff 50%, #8575ff);
    transition: box-shadow 0.3s ease;
}